.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 80px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 80px;
}
.squaresize {
    height: 40px;
    width: 40px;
}

.squaresize1 {
    height: 50px;
    width: 50px;
}

.squaresize2 {
    height: 60px;
    width: 60px;
}

.squaresize3 {
    height: 70px;
    width: 70px;
}
.squaresize4 {
    height: 80px;
    width: 80px;
}
.squaresize5 {
    height: 90px;
    width: 90px;
}
.squaresize6 {
    height: 100px;
    width: 100px;
}
.squaresize7 {
    height: 200px;
    width: 200px;
}
.squaresize8 {
    height: 300px;
    width: 300px;
}

